*,

*::before,
*::after {

  box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}
  /*  font-family: Gotham Rounded; */


  /* JUMBOTRON */
#jumbotron {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-image: url("../../mohammad-alizade-DunSKupQL7g-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
}

.jumbotext{
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.6);
  min-width: 10vw;
  min-height: 10vh;
  font-size: 1.3vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}

.jumboText p{
  text-align: center;
  padding: 10px;
  margin: 0;
}

.weatherContainer {
  margin-right: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 300px;
  min-height: 190px;
  overflow: hidden;
}

#logo img{
 width: 95px;
 margin-top: 10px;
 margin-right: 48px;
 
}

.material-icons {
  display: flex;
  align-items: center;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(143, 155, 185);
}


h1 {
  margin: 0;
  padding-left: 15px;
}

.index {
  display: flex;
  justify-content: right;
  padding-right: 25px;
}

.index .indexLi{
  padding: 0;
  margin-left: 50px;
}

.index, .indexLi, .listA {
 list-style: none;
 margin: 0;
 cursor: pointer;
 color: black;
 align-items: center;
}



header, .h5 {
  color: rgb(54, 33, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px; 
  border: 1px solid none;
  border-radius: 5px;
  padding: 15px 10px;
  font-size: 30px;
  font-family: 'Potta One';
}


h5 {
  color: rgb(72, 38, 117);
  align-items: center;
  text-align: center;
  font-size: 2vw;
}


#main-box {
 display: flex;
 flex-direction: row;
 width: 50%;
 height: 50%;
}


#playlist-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60%;
  align-items: center;
  font-family: 'Potta One';
}


.first-title {
  display: flex;
  justify-content: center;
  border: 1px solid none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 0;
}


#container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
  margin: 1rem;
  background-color:#d7b8f3;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px 30px;
  
}

.weather-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50%;
}

.weather-display h2 {
  font-size: 2vw;
}

.weather-details {

  color: #222222;
  font-size: 3vw;
  margin: 0;
}

#weather-display, #banner{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height:100%;
  margin: 5px;
  border: none;
  background:  #919ba1;
  padding: 15px 15px;
}

#banner {
  text-align: center;
}

span {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  justify-content: center;
}

.about {
  margin: auto;
  width: 80%;
  text-align: center;
}

.about h3 {
  text-decoration: underline;
}

.about p {
  font-size: 21px;
}

.about a {
  text-decoration: underline;
  font-size: 1.5vw;
}



#playlist-display {
  margin-right: 140px;
  margin-left: 140px;
  color: #44266b;
  padding: 10px;
  align-items: center;
  text-align: center;
}


.fear-list.btn {
  height: 100px; 
  background: rgb(123, 123, 167);
  width: 200px;
  border: none;
  flex-direction: row;
  align-items: center;
  line-height: 75px;
  font-size: 30px;
  color: rgb(35, 33, 56);
  margin-right: 3px;
 }

.sad-list.btn {
  height: 100px;
  background:  rgb(123, 123, 167);
  width: 200px;
  border: none;
  flex-direction: row;
  align-items: center;
  line-height: 75px;
  font-size: 30px;
  color: rgb(35, 33, 56);
  margin-left: 3px;
  margin-right: 3px;
 }

.happy-list.btn{
  height: 100px;
  background: rgb(123, 123, 167);
  width: 200px;
  border: none;
  flex-direction: row;
  align-items: center;
  line-height: 75px;
  font-size: 30px;
  color: rgb(35, 33, 56); 
  margin-left: 3px;
  margin-right: 3px;
}

.surprise-list.btn {
  height: 100px;
  background:  rgb(123, 123, 167);
  width: 200px;
  border: 1px solid gray;
  flex-direction: row;
  align-items: center;
  line-height: 75 px;
  font-size: 30px;
  color: rgb(35, 33, 56);
  margin-left: 3px;
}

.btn:hover {
  border: none;
  box-shadow: 0 0 10px 2px rgb(56, 37, 73);
 }


.iframe-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

/* Modal button*/
.myBtn {
  font-family: 'Tenor Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: auto;
  line-height: 75px;
  font-size: 2.7vw;
  padding: 20px 20px; 
  flex-direction: row;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(218, 218, 218);
}

.myBtn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(33, 49, 77, 0.5);
  transform: translateY(-0.1rem);
  transition: 0.1s;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 250px;
  border: none;
  width: 80%;
  background-color: rgb(115, 115, 168);
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.main-container {
  min-height: 100vh;
  margin-top: 0;
}

.card-container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  position: relative;
  width: 350px;
  height: 350px;
}

#phoneIcon {
  font-size: 48px;
}

.health-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-image: linear-gradient(to bottom, rgba(95, 95, 95, 0.575) 0%, rgba(102, 102, 102, 0.7) 75%, #7e7e7e 100%), url("../../phone-690091_1920.jpg");
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 41rem;
  width: 75%;
  margin: 175px auto 125px auto;
}

.health-services h2 {
  margin-bottom: 150px;
  font-size: 5.0vw; 
  text-align: center;
}

.health-services ul {
  text-align: center;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.281);
}

.health-services ul li {
  font-size: 1.6vw;
  font-weight: bold;
  line-height: 2.5;
}

.health-services a {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(252, 248, 248);
}

.text-info p{
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
}



footer {
  position: sticky;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem; 
  background: rgb(143, 155, 185);
  position: relative;
  /* margin-top: 125px; */
 }


@media screen and (max-width: 768px) {
  .navBar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(143, 155, 185);
  }

  .navBar h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  .index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 25px;
  }

  #jumbotron {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  
  .jumbotext{
    background-color: rgba(255, 255, 255, 0.6);
    width: 70vw;
    height: 50vh;
    font-size: 1.5vw;
    margin: 25px 0 50px 0;
  }

  .jumbotext h3 {
    font-size: 5vw;
  }
  
  .jumbotext p{
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 2.5vw;
  }
  
  
  .first-title {
    font-size: 3vw;
   }

  .myBtn {
    font-family: 'Tenor Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    line-height: 75px;
    font-size: 2.7vw;
    padding: 20px 20px; 
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgb(218, 218, 218);
  }

  .health-services h2 {
    font-size: 5vw;
  }
  
  .health-services ul li {
    font-size: 3.4vw;
    font-weight: bolder;
    line-height: 2;
  }

  .weather-display h2 {
    font-size: 3.5vw;
    margin-bottom: 0;
  }

  .weatherContainer {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 3vw;
    margin: 25px 0 25px 0;
  }

}