
*,




*::before,


*::after {


box-sizing: border-box;


}


  /*  font-family: Gotham Rounded; */

 /* .logo {
    position: absolute;
    width: 10px; 
    top: 10px; 
     display: block;
    z-index: inherit;
    text-align: left;
  } */

  .logo {
  box-sizing: border-box;
  overflow: auto;
  padding: 3px 5px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  }

  .search {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    color: #AAA;
    padding: 20px;
    margin: 50px auto 0px auto;
    width: 77%;
  }
  
body {
 background: linear-gradient(140deg, #d5eae3, #50caa1);
 background-size: 400% 400%;
 -webkit-animation: AnimationName 10s ease infinite;
 -moz-animation: AnimationName 10s ease infinite;
 -o-animation: AnimationName 10s ease infinite;
 animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
 0%{background-position:4% 0%}
 50%{background-position:97% 100%}
 100%{background-position:4% 0%}
}

@-moz-keyframes AnimationName {
 0%{background-position:4% 0%}
 50%{background-position:97% 100%}
 100%{background-position:4% 0%}
}


@-o-keyframes AnimationName {
 0%{background-position:4% 0%}
 50%{background-position:97% 100%}
 100%{background-position:4% 0%}
}


@keyframes AnimationName {
 0%{background-position:4% 0%}
 50%{background-position:97% 100%}
 100%{background-position:4% 0%}
}

.header, .h5 {
 display: absolute;
 justify-content: center;
 align-items: center;
 width: 25%;
 height: 10px; 
 border: 1px solid none;
 border-radius: 5px;
 padding: 15px 10px;
 font-size: 30px;
 font-family: 'Potta One';
}

/*.h1 {
justify-items: center;
align-items: center;
padding:0 500px ;
display: flex;
}*/

#weather {
  background-image: white ;
  width: 100%;
  border: 15px white; 
  padding: 50px;
  margin: 20px;
  box-sizing: border-box;
}

#intro {
 justify-content: center;
 align-items: center;


}







#main-box {


 display: flex;


 flex-direction: row;


 width: 50%;


 height: 50%;


}


#playlist-box {


 display: flex;


justify-content: space-evenly;


 width: 100%;


 height: 60%;


 align-items: center;


 font-family: 'Potta One';


}

















.first-title {
 display: flex;
 justify-content: center;
 width: 100%;
 height: 60px; 
 border: 1px solid none;
 border-radius: 5px;
 padding: 15px 10px;
}







.third-title {


 display: flex;


 justify-content: center;


 align-items: center;


 width: 100%;


 height: 60px; 


 border: 1px solid none;


 border-radius: 5px;


 padding: 15px 10px;


 font-size: 30px;


 font-family: 'Potta One';







}







#container {


 display: flex;


 justify-content: space-evenly;


 align-items: center;


 width: 100%;


 height: 300px;


 margin: 1rem;


 background-color:#36f4f0;


 border: 1px solid gray;


 border-radius: 5px;


 padding: 15px 30px;







}







#banner,#weather-display {


 display: flex;


 justify-content: center;


 align-items: center;


 width: 100%;


 height:100%;


 margin: 1rem;


 border: 1px solid none;


 border-radius: 5px;


 padding: 15px 15px;


}







/*#frm1 {


 display: flex;


 flex-direction: column;


 margin-bottom: 1rem;






}*/







span {


 display: flex;


 flex-direction: row;


 width: auto;


 height: 100%;


 justify-content: center;


}

/*.button {
  background-color: #4CAF50; /* Green
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%; 
} */

.fear-list.btn {
 height: 100px; 
 background-image: linear-gradient(to top, #ffff99 0%, #84ffff 100%);
 width: 1000px;
 border: 1px solid gray;
 flex-direction: column;
 align-items: center;
 line-height: 75 px;
 font-size: 30px;
 color: black;
 font-family: 'Potta One';
 text-align: center;
 display: inline-block;
 }







.sad-list.btn {


 height: 100px;


 background: linear-gradient(to bottom right, #3366cc 0%, #66ffff 100%);


 width: 250px;


 border: 1px solid gray;


 flex-direction: row;


 align-items: center;


 line-height: 75 px;


 font-size: 30px;


 color: black;


 font-family: 'Potta One';


 }







.happy-list.btn{


 height: 100px;


 background-image: linear-gradient(to bottom, #a7c8e4 0%, #dfc9d4 100%);


 width: 250px;


 border: 1px solid gray;


 flex-direction: row;


 align-items: center;


 line-height: 75 px;


 font-size: 30px;


 color: black; 


 font-family: 'Potta One';


}







.surprise-list.btn {


 height: 100px;


 background: linear-gradient(to bottom right, #ff9900 0%, #66ffff 100%);


 width: 250px;


 border: 1px solid gray;


 flex-direction: row;


 align-items: center;


 line-height: 75 px;


 font-size: 30px;


 color: black;


 font-family: 'Potta One';







}


/*


 border-radius: 5px;


 padding: 15px 10px;


 box-shadow: aqua;


 outline: none;


 display: flex;










 margin: .25rem;


 text-align: justify;*/












.btn:hover {


 border: 2px solid black;


 box-shadow: 0 0 10px 2px gray;


}







.mood {


 display: flex;


 flex-direction: column;


 width: 100%;


 margin: .25rem;






}






/*.songs {


 display: flex;


 justify-content: space-around;


 align-items: center;


 width: 100%;


 margin: 0 0 0 0.3rem;


 color: white;


 background-color: blueviolet;


}*/







footer {


 display: flex;


 justify-content: center;


 align-items: center;


 height: 3rem; 


 font-family: 'Potta One', bold, 12px;


}

